<!-- profile.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'chatbot/styles.css' %}">
</head>
<body>
    
    {%include 'chatbot/navbar.html'%}

    <main>
        <h2>User Profile</h2>
        <p>Username: {{ user.username }}</p>
        <form action="{% url 'logout' %}" method="post" style="display: inline;">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
        
    </main>

    <footer>
        <p>&copy; 2024 FinGenius - Your Financial Assistant</p>
    </footer>
</body>
</html>
